<h1>Showing the article <%= @article.title %></h1>
<p>
<p> <%= @article.title %></p>
<p> <%= @article.description %></p>
<p><%= @article.excerpt %></p>
</p>

<%= link_to "Back to Articles", articles_path %> ||
<%= link_to "Edit this Articl", edit_article_path(@article) %>
